* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
}

.header {
    height: 60px;
    width: 330px;
    align-items: center;
    padding: 15px 15px;
    background-color: #f2f4f7;
    display: flex;
}

section.nav-section {
    overflow-y: scroll;
}

.header-content {
    height: 23px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px 0 0px 30px;
    background: #f2f4f7;
    width: 330px;
}

.Incomplete {
    border-left: 20px solid #d21010;
}

.to-do {
    border-left: 20px solid #00b5ff;
}

.doing {
    border-left: 20px solid #ffe700;
    border-radius: 10px;
}

.under_review {
    border-left: 20px solid #00b5ff;
}

.header-right {
    width: 30px;
    height: 23px;
    background: #e8eef3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #52486e;
}

.header-left {
    padding-left: 5px;
}

.card {
    width: 330px;
    height: 130px;
    margin-bottom: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
}

.card-client-name-left {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.card-client-name-right {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.card-client-name {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    /* background: bisque; */
}

.card-ditels-left {
    width: 80%;
    display: flex;
    gap: 5px;
}

.card-ditels-right {
    width: 20%;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.card-ditels {
    display: flex;
    padding: 10px 10px;
}

.card-footer-left {
    display: flex;
    align-items: center;
    width: 25%;
    gap: 10px;
}

.card-footer {
    display: flex;
    padding: 5px 10px;
    width: 100%;
}

.card-footer-right div {
    display: flex;
}

.card-footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    gap: 6px;
}

.card-footer-right div i {
    padding: 0px 4px;
}

.content-area {
    /* background: #2a70d9; */
    width: 330px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.card-ditels-left p {
    color: #666666;
}


/* Scroll bar design  */


/* width */

section.nav-section::-webkit-scrollbar {
    width: 6px;
}


/* Track */

section.nav-section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

section.nav-section::-webkit-scrollbar-thumb {
    background: #0070bd;
    border-radius: 10px;
    height: 80%;
    width: 5px;
}

.scroll.nav-section::-webkit-scrollbar-thumb {
    background: #0070bd;
    border-radius: 10px;
    height: 70%;
    width: 5px;
}

.container::-webkit-scrollbar {
    height: 8px;
    background: #0070bd;
}

.container::-webkit-scrollbar-track {
    background-color: #bbbbbb;
}

.container::-webkit-scrollbar-thumb {
    background-color: #0070bd;
    border-radius: 10px;
}